@COLOR1: #fefefe;
@FontColor: #333333;
// 二级菜单背景颜色
@COLOR3: #3c3c3c;
// 菜单字体颜色
// 顶部菜单选中后背景色
@COLOR4: #DAE0E6;
// 菜单选中状态字体颜色
// 按钮字体颜色
@COLOR5: #FFFFFF;
// 一级菜单选中状态图标背景颜色
@COLOR6: #007EBE;
// 菜单border颜色
@COLOR7: #496075;
// 菜单按钮背景色
@PrimaryColor: #1962C0;
// 搜索重置按钮字体颜色 左侧菜单背景色
@COLOR9: #21a7cf;
// 复选框标题旁边的方块颜色
@COLOR10: #2daabf;
@COLOR11: #1962C0;
// 菜单popup hover背景色
@COLOR12: #89b8e4;
// 未读消息文字
@COLOR13: #f2feff;

// 左侧菜单选中 背景色
@COLOR14: #75cbe4;