.generateTheme(@theme) {
  .el-button.el-button--default {
    color: @COLOR1;
    background-color: @PrimaryColor;
    &:hover {
      color: @PrimaryColor;
      background-color: @COLOR1;
      border-color: @PrimaryColor;
    }
  }
  
  .el-button.el-button--default.is-disabled {
    background-color: lightgray;
    border-color: lightgray;
  }

  .el-button.reset-button {
    background-color: @COLOR5;
    color: @PrimaryColor;
  }

  .el-textarea,
  .el-input{
    .el-input__inner,
    .el-textarea__inner{
      &:focus{
        border-color: @PrimaryColor;
      }
    }
  }

  .el-tabs__item{
    &:hover{
      color: @PrimaryColor;
    }
  }

  .data-form {
    .search-button,
    .reset-button {
      background-color: @COLOR5;
      color: @PrimaryColor;
    }
  }
  

  .el-checkbox__input.is-checked+.el-checkbox__label{
    color: @PrimaryColor;
  }


  // 自定义组件样式
  .component,
  .page {
    .data-selection {
      .icon-color {
        background-color: @COLOR10;
      }
    }

    a {
      color: @PrimaryColor;
    }
    .common-title{
      .title{
        color: @PrimaryColor;
      }
    }

    // 所有页面左边菜单配色
    .system-menu {
      background-color: @COLOR9;
      &-item {
        color: @COLOR1;
      }
      &-activated {
        color: @OtherFontColor;
        background-color: #75cbe4;
      }
    }

    .el-menu--vertical {
      .el-menu.el-menu--popup.el-menu--popup-right-start {
        .el-menu-item.is-active {
          background-color: @OtherFontColor;
          color: @COLOR1;
        }
  
        .el-menu-item:hover {
          background-color: @COLOR12;
        }
      }
    }
  
    .el-tree.el-tree--highlight-current{
      .el-tree-node.is-current{
        >.el-tree-node__content{
          background-color: @COLOR14;
        }
      }
    }
    
  }

 
}


// 主题列表
body {

  // 默认主题
  &.theme-default {
    @theme: default;
    @import "./themes/@{theme}.less";
    .generateTheme(@theme)
  }
}